.cart-container {
    margin: 20px auto;
    max-width:1400px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
  }
  .headers-align .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
  }
  mat-panel-title{
    min-width: 500px;
  }
  .price-amount{
    min-width:130px ;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .product-image {
    width: 150px;
    height: 150px;
    margin-right: 20px;
    cursor: pointer;
  }
  
  .product-controls {
    position: absolute;
    bottom: 10px;
    right: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .remove-btn {
    cursor: pointer;
    color:rgb(75, 75, 75);
  }
  
  .remove-btn:hover {
    color: rgb(211, 5, 5);
  }
  .amountIcons{
    cursor: pointer;
    margin: 10px;
  }
  .amountIcons:hover{
    transform: scale(1.1);
  }
  .data-line{
    display: flex;
    justify-content: space-between;
    width: 250px;
  }