<form (ngSubmit)="onSubmit()" [formGroup]="addForm">
    <mat-card appearance="outlined">
        <mat-card-header>
            <mat-card-title><h3>Add / Edit Product</h3></mat-card-title>
            <!-- <mat-card-subtitle>Herding group</mat-card-subtitle> -->
        </mat-card-header>
        <mat-card-content>
            <div class="inputs-container">
                <mat-form-field>
                    <mat-label>Title</mat-label>
                    <input matInput type="text" formControlName="title">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Category</mat-label>
                    <input matInput type="text" formControlName="category">
                    <!-- <mat-label>Categories</mat-label>
        <mat-select [value]="categoriesList" [formControl]="activeCategories" multiple>
            @for (categorie of categoriesList; track categorie) {
            <mat-option  [value]="categorie">{{categorie | titlecase}}</mat-option>
            }
        </mat-select> -->
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Description</mat-label>
                    <textarea  matInput type="text" formControlName="description"></textarea>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Id</mat-label>
                    <input  matInput type="text" formControlName="id">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Image URL</mat-label>
                    <input matInput type="utl" formControlName="image">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Price</mat-label>
                    <input matInput type="number" formControlName="price">
                </mat-form-field>
                <!-- <mat-form-field>
                    <mat-label>Rate</mat-label>
                    <input matInput type="number" formControlName="rate">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Review Count</mat-label>
                    <input matInput type="number" formControlName="count">
                </mat-form-field> -->
            </div>
        </mat-card-content>
        <mat-card-actions>
            <button [disabled]="addForm.invalid" style="margin-left: auto;" mat-button type="submit">Confirm</button>
        </mat-card-actions>
    </mat-card>
</form>